<%= render :partial => "partials/header" %>
<div id="content">
  <div class="container_12 groups_list">
    <%= render :partial => "partials/proverbs" %>
    <div class="grid_12">
	  <div class="grid_8 alpha">&nbsp;</div>
	  <div class="grid_4 push_1 omega"><%= container :group_block_2 %><br><br><a href="/groups/special-children">Почитати детальніше</a></div>
	</div>
	<div class="grid_12">
		
		<div class="grid_4 alpha"><%= container :group_block_1 %><br><br><a href="/groups/children-from-4yo">Почитати детальніше</a></div>
		<div class="grid_8 omega">&nbsp;</div>
	</div>
	<div class="grid_12">
		<div class="grid_7 alpha">&nbsp;</div>
		  <div class="grid_4 push_1 omega"><%= container :group_block_3 %><br><br><a href="/groups/teenagers-11-15-yo">Почитати детальніше</a></div>      
	</div>
	

    
  </div>
</div>
<%= render :partial => "partials/footer" %>
