<%= render :partial => "partials/header" %>
<div id="content">
  <div class="container_12">
    <%= render :partial => "partials/proverbs" %>
    <% if container_has_block?(:sub_block_1) %>
    <div class="grid_6">
      <%= container :sub_block_1 %>
    </div>
    <% end %>
    <% if container_has_block?(:sub_block_2) %>
      <div class="grid_5 push_1 sub_column_italic">
        <%= container :sub_block_2 %>
      </div>
    <% end %>
    <% if container_has_block?(:sub_block_3) %>
    <div class="grid_10 centered_block suffix_1 prefix_1">
      <%= container :sub_block_3 %>
    </div>
    <% end %>
    <% if container_has_block?(:sub_block_4) %>
    <div class="grid_6">
      <%= container :sub_block_4 %>
    </div>
    <% end %>
    <% if container_has_block?(:sub_block_5) %>
      <div class="grid_5 push_1 sub_column_italic">
        <%= container :sub_block_5 %>
      </div>
    <% end %>
    <% if container_has_block?(:sub_block_6) %>
    <div class="grid_10 centered_block suffix_1 prefix_1">
      <%= container :sub_block_6 %>
    </div>
    <% end %>
  </div>
</div>
<%= render :partial => "partials/footer" %>
